
body{
  width: 100%;
  margin:0;
  padding: 0;  
  background: #111;  /* fallback for old browsers */
 
}

.App {
  text-align: center;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

